.hide{
    display: none !important;
    pointer-events: none;
    opacity: 0;
}

.waitting-note{
    position: absolute;
    width: rem(303);
    height: rem(40);
    top: rem(630);
    left: 50%;
    margin-left: rem(-303/2);
}
.chupaiqu-wrap{
    position: absolute;
    top: rem(420);
    left: rem(-60);
    width: 100%;
    height: rem(190);
    &-top{
        position: relative;
        height: rem(205);
    }
    &-bottom{
        position: relative;
        height: rem(205);
    }
    .pok{
        position: absolute;
        width: rem(130);
        height: rem(190);
        @for $i from 1 through 18 {
            &:nth-child(#{$i}){
                left: #{$i*60/75}rem;
            }
        }
    }
}
.user-timeout-clock{
    position: absolute;
    width: rem(97);
    height: rem(98);
    vertical-align: middle;
    background: url('../img/page/timeout-clock.png') no-repeat rem(-4) top;
    background-size: 100% auto;
    font-size: rem(37);
    text-align: center;
    line-height: rem(98);
    color: #FFF;
    top: rem(150);
    &.left{
        left: rem(165);
    }
    &.right{
        right: rem(165);
    }
}

.ctrlright-view-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .ctrlright-view-mask{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
}
.ctrlright-view{
    position: absolute;
    top: 0;
    right: 0;
    width: rem(370);
    height: 100%;
    background: #282522;
    .right-invite-bt{
        display: block;
        width: rem(321);
        height: rem(86);
        margin: rem(20) auto rem(20); 
    }
    &-top{
        position: relative;
        width: 100%;
        height: rem(265);
        .remind{
            text-align: center;
            margin-top: rem(20);
            p{
                font-size: rem(28);
                color: #70655a;
                line-height: rem(40);
            }
        }
    }
    &-title{
        position: relative;
        text-align: center;
        width: 100%;
        height: rem(80);
        background: #3f3a35;
        color: #ada297;
        font-size: rem(32);
        line-height: rem(80);
        span{
            display: inline-block;
            text-align: center;
            width: 48%;
        }
    }
    &-table{
        table{
            width: 80%;
            margin-left: 10%;
            margin-top: rem(20);
            margin-bottom: rem(20);
        }
        td{
            font-size: rem(28);
            text-align: left;
            height: rem(58);
            line-height: rem(58);
            &:nth-child(1){
                color: #e49c10;
            }
            &:nth-child(2){
                color: #FFF;
            }
        }
    }
    .game-state{
        margin-top: rem(20);
        text-indent: rem(20);
        display: block;
        font-size: rem(28);
        color: #e49c10;
    }
    &-list{
        position: relative;
        width: 100%;
        height: rem(418);
        overflow-y: auto;
        -webkit-overflow-scrolling : touch;
        margin-top: rem(20);
        li{
            position: relative;
            width: 100%;
            height: rem(80);
            line-height: rem(80);
        }
        .gul-avatar{
            display: inline-block;
            width: rem(70);
            height: rem(70);
            border-radius: 50%;
            vertical-align: middle;
            margin-left: rem(20);
            margin-right: rem(20);
        }
        .gul-name{
            display: inline-block;
            width: rem(145);
            font-size: rem(32);
            color: #ada297;
        }
        .gul-score{
            display: inline-block;
            font-size: rem(32);
            color: #ada297;
        }
    }
}

.game-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ba7b1c url('../img/page/game-main-table.jpg') no-repeat center rem(-130);
    background-size: 100% auto;
    .jiaodizhu-tips{
        position: absolute;
        // width: rem(173);
        width: rem(128);
        height: rem(46);
        background: url('../img/page/font-jiaodizhu.png') no-repeat;
        background-size: rem(173) auto;
        &.left{
            top: rem(348);
            left: rem(40);
        }
        &.right{
            top: rem(348);
            right: rem(40);
        }
        &.mine{
            top: rem(448);
            left: rem(200);
        }
    }
    .more-menu{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        &-mask{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.1);
        }
        &-main{
            position: absolute;
            width: rem(240);
            height: rem(398);
            top: rem(95);
            left: rem(10);
            background: url('../img/page/menu-window1.png') no-repeat;
            background-size: 100% auto;
            div{
                width: 100%;
                height: 25%;
            }
        }
    }
    .bt-more{
        position: absolute;
        left: 0;
        top: 0;
        width: rem(160);
        height: rem(80);
    }
    .bt-detail{
        position: absolute;
        right: 0;
        top: 0;
        width: rem(164);
        height: rem(82);
    }
    .mid-ctrl-line{
        position: absolute;
        width: 100%;
        left: 0;
        top: rem(565);
        height: rem(100);
        line-height: rem(100);
        text-align: center;
    }
    .bt-buchu{
        display: inline-block;
        width: rem(181);
        height: rem(90);
        vertical-align: middle;
    }
    .bt-tips{
        display: inline-block;
        width: rem(181);
        height: rem(90);
        vertical-align: middle;
    }
    .bt-chupai,.bt-jiaodizhu,.bt-bujiaodizhu,.bt-buchu{
        display: inline-block;
        width: rem(181);
        height: rem(90);
        vertical-align: middle;
    }
    .timeout-clock{
        display: inline-block;
        width: rem(97);
        height: rem(98);
        vertical-align: top;
        background: url('../img/page/timeout-clock.png') no-repeat rem(-4) top;
        background-size: 100% auto;
        font-size: rem(37);
        text-align: center;
        line-height: rem(98);
        color: #FFF;
    }
    &-foot{
        position: absolute;
        width: 100%;
        height: rem(100);
        left: 0;
        bottom: 0;
        background: #ba7b1c url('../img/page/table-bottom-bg.png') no-repeat center top;
        background-size: 100% auto;
        &-gold{
            position: absolute;
            width: rem(249);
            height: rem(60);
            left: rem(100);
            top: rem(20);
            background: url('../img/page/glod-bg.png') no-repeat center top;
            background-size: 100% auto;
            font-size: rem(32);
            color: #fcaa20;
            line-height: rem(60);
            text-indent: rem(60);
        }
        &-avatar{
            position: absolute;
            width: rem(120);
            height: rem(120);
            left: rem(25);
            top: rem(-30);
            border-radius: 50%;
        }
        &-im2{
            position: absolute;
            width: rem(76);
            height: rem(76);
            right: rem(130);
            top: rem(15);
        }
        &-im1{
            position: absolute;
            width: rem(76);
            height: rem(76);
            right: rem(20);
            top: rem(15);
        }
    }
}

.loading-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ba7b1c url('../img/page/loading-bg.jpg') no-repeat;
    background-size: 100% auto;
    &-logo{
        position: absolute;
        width: rem(499);
        height: rem(304);
        left: 50%;
        top: rem(290);
        margin-left: rem(-499/2);
    }
    &-font{
        position: absolute;
        width: 100%;
        top: rem(650);
        font-size: rem(28);
        text-align: center;
        color: #FFF;
        // -webkit-text-stroke: rem(3) #7a5f2f;
        text-shadow: 0 rem(2) #7a5f2f, rem(2) 0 #7a5f2f, rem(-2) 0 #7a5f2f, 0 rem(-2) #7a5f2f;
    }
    &-main{
        position: absolute;
        left: 0px;
        top: 20%;
        width: 100%;
    }
    &-main-wrap{
        position: absolute;
        width: rem(510);
        height: rem(35);
        top: rem(700);
        left: 50%;
        margin-left: rem(-510/2);
        background: #7a5f2f;
        border-radius: rem(28);
        .loading-line{
            position: absolute;
            left: 0;
            top:0;
            height: 100%;
            width: 0%;
            background: linear-gradient(to right, #1462ff, #36b5ff);
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
            border-radius: rem(28);
            &.full{
                width: 95%;
            }
        }
    }
}

.im-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    &-mask{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
    }
    &-main{
        position: absolute;
        width: rem(505);
        height: rem(395);
        background: #3c2910;
        border: rem(4) solid #d5bc94;
        bottom: rem(125);
        right: rem(10);
        border-radius: rem(20);
        &-tab{
            display: block;
            float: left;
            width: rem(74);
            height: 100%;
            li{
                width: rem(74);
                height: rem(122);
                margin-top: rem(6);
                margin-left: rem(6);
                &:nth-child(1){
                    background: url('../img/page/facewindow/tab1.png') no-repeat;
                    background-size: 100% auto; 
                    opacity: 0.5;
                }
                &:nth-child(2){
                    background: url('../img/page/facewindow/tab2.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0.5;
                }
                &:nth-child(3){
                    background: url('../img/page/facewindow/tab3.png') no-repeat;
                    background-size: 100% auto;
                    opacity: 0.5;
                }
                &.cur{
                    opacity: 1;
                }
            }
        }
        &-msg{
            display: block;
            float: left;
            width: rem(400);
            height: rem(380);
            overflow-y: auto;
            -webkit-overflow-scrolling : touch;
            margin-left: rem(15);
            margin-top: rem(5);
        }
    }
}


.texiao{
    &-spring{
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: rem(-731/2);
        width: rem(731);
        height: rem(384);
    }
    &-zhadan{
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: rem(-393/2);
        width: rem(393);
        height: rem(234);
    }
    &-wangzha{
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: rem(-228/2);
        width: rem(228);
        height: rem(362);
    }
}

.game-result-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .rs-bt{
        position: absolute;
        width: rem(261);
        height: rem(90);
        top: rem(880);
        &.left{
            left: rem(110);
        }
        &.right{
            right: rem(110);
        }
    }
    .game-result-mask{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.6);
    }
    .game-result-main{
        position: absolute;
        width: rem(620);
        height: rem(800);
        top: 5%;
        left: 50%;
        margin-left: rem(-620/2);
        &.dz-win{
            width: rem(590);
            height: rem(743);
            margin-left: rem(-590/2);
            background: url('../img/page/resultmask/win-window.png') no-repeat;
            background-size: 100% auto;
        }
        &.pm-win{
            width: rem(586);
            height: rem(736);
            margin-left: rem(-586/2);
            background: url('../img/page/resultmask/win-window2.png') no-repeat;
            background-size: 100% auto;
        }
        &.dz-lose{
            width: rem(618);
            height: rem(726);
            margin-left: rem(-618/2);
            background: url('../img/page/resultmask/lose-window.png') no-repeat;
            background-size: 100% auto;
        }
        &.pm-lose{
            width: rem(615);
            height: rem(723);
            margin-left: rem(-615/2);
            background: url('../img/page/resultmask/lose-window2.png') no-repeat;
            background-size: 100% auto;
        }
    }
    .user-list{
        position: absolute;
        width: rem(400);
        top: rem(446);
        left: 50%;
        margin-left: rem(-200);
        li{
            position: relative;
            width: rem(400);
            height: rem(60);
            line-height: rem(60);
            border: rem(2) solid #d6c28f;
            border-radius: rem(60);
            background: #ffeab3;
            margin-top: rem(10);
            .ul-avatar{
                position: absolute;
                display: inline-block;
                width: rem(66);
                height: rem(66);
                left: rem(-3);
                top: rem(-3);
                border-radius: 50%;
            }
            .ul-name{
                position: absolute;
                top: 0;
                left: rem(80);
                display: inline-block;
                width: rem(160);
                font-size: rem(28);
                color: #1a1a1a;
            }
            .ul-gold{
                position: absolute;
                right: rem(0);
                top: rem(0);
                display: inline-block;
                background: url('../img/page/gold-icon.png') no-repeat left center; 
                background-size: rem(36) rem(34);                
                width: rem(160);
                font-size: rem(28);
                color: #1a1a1a;
                text-indent: rem(40);
            }
        }
    }
}